/* Global style*/
body {
  font-family: "Lato", sans-serif;
  background: #fdf6f6;
}

#root {
  background: #fdf6f6;
}
h3 {
  font-size: 18px;
  font-weight: bold;
}

.main-container {
  margin: 2% 0 2% 0;
  overflow: hidden;
}

.wrapper{
  background: #fff;
  padding:10px 30px;
}
/* Header*/
.navbar-custom {
  background: #792525;
  margin-bottom: 25px;
}

.navbar-custom .brand {
  color: #fcc810;
  font-family: "Oleo Script Swash Caps", cursive;
  font-size: 34px;
}

.navbar-custom .brand:hover {
  text-decoration: none;
  opacity: 0.8;
}

.navbar-custom .nav-link {
  color: #fcc810 !important;
  font-family: "Roboto Condensed", sans-serif;
 
}

.navbar-custom .nav-link:hover {
  opacity: 0.8;
}

.navbar-custom .get-started {
  color: #fcc810 !important;
  font-family: "Roboto Condensed", sans-serif;
  border: 1px solid #fcc810;
  border-radius: 3px;
  margin-left: 15px;
}
.navbar-custom .get-started:hover {
  opacity: 0.8;
}
.search-icon{
  color: #fcc810;
  padding: 8px 8px 0 2px;
}
/* Footer*/
.footer {
  color: gray;
  text-align: right;
  background: #fdf6f6;
  margin-top:50px;

}

.get-started {
  color: #fcc810 !important;
  font-family: "Roboto Condensed", sans-serif;
  border: 1px solid #fcc810;
  border-radius: 3px;
  margin-left: 15px;
}

.auth-btn {
  cursor: pointer;
}

.authentication-modal {
  background: #f0eded !important;
  opacity: 0.9;
}

.authentication-modal-body {
  border: none !important;
}

.authentication-modal-header {
  border: none !important;
  text-align: center;
  justify-content: center;
}

.authentication-modal-header h3 {
  font-size: 30px;
  font-weight: 500;
}

.authentication-modal-footer {
  border: none !important;
}

.swap-modal-span {
  cursor: pointer;
  text-decoration: chocolate;
  color: chocolate;
}

.swap-modal-span:hover {
  opacity: 0.8;
  text-decoration: underline;
}

.swap-modal-text {
  font-size: 14px;
  padding-top: 1%;;
}

.modal-content {
  opacity: 1 !important;
  background-color: white;
  max-height: fit-content;
  min-height: 35%;
}

.modal-dialog {
  height: 100%;
}

.error {
  border: 1px solid red;
}

.error-text {
  color: red;
}

.center {
  margin: auto;
  padding: 0 10% 0 10%;
}

.modal-title {
  text-align: center;
}

.header-txt {
  margin-left: 37%;
}

#alert-modal .modal-content {
  max-height: fit-content;
  min-height: 20%;
}

.alert-modal-header {
  padding: 5px;
  padding-right: 10px;
}

.alert-modal-body {
  text-align: center;
}

.btn-one {
  background: #792525;
  border: none;
  color: #fcc810;
}

.btn-one:hover {
  opacity: 0.7;
  background: #792525;
  border: none;
  color: #fcc810;
}

.btn-one:disabled {
  background: #792525;
  color: #fcc810;
}

.btn-one .btn .btn-primary {
  background: #792525;
}
/* Home*/

.author {
  display: inline-block;
  margin-top:12px;
}
/* img {
  width: 100%;
  margin-bottom: 15px;
} */
.meta,
.description {
  color: grey;
  font-size: 13px;
}
.welcome-card {
  background: #efebd5;
  margin: 50px 0;
}

.number {
  color: gray;
  font-size: 34px;
}

.fa-google{
  color: #4285F4;
  font-size: 20px;
  padding:5px;
}
.fa-twitter{
  color: #0084b4;
  font-size: 25px;
  padding:5px;
}
.fa-facebook{
  color: #4267b2;
  font-size: 25px;
  padding:5px;
}
.btn-auth{
  text-align: left;
  font-size: 16px;
  color: #333;
}
.btn-auth:hover{
border:1px solid #000000;
background: transparent;
color: #000000;
}
.home-view{
  margin-bottom:50px;
}
.home-view img{
  float: left;
  clear:left;
  width: 35%;
  margin-right:20px;
}

.home-view-last{
  margin-bottom:45px;
}

.home-view-last img{
  float: right;
  clear:left;
  width: 20%;
  margin:10px 20px 10px 10px;
}
.title-link{
color: #000000;
}
.title-link:hover{
  color: #000000;
  }

.swap-modal-span {
  cursor: pointer;
  text-decoration: chocolate;
  color: chocolate;
}

.swap-modal-span:hover {
  opacity: 0.8;
  text-decoration: underline;
}

.swap-modal-text {
  font-size: 14px;
}

.modal-dialog {
  height: 100%;
}
.red-form-border {
  border: 1px solid red;
}

.password-input {
  margin-top: 0;
}

.auth{
	background: #FFFFFF;
	border: 1px solid #efefef;
	border-radius:5px;
	padding: 7% 2%;
	margin-bottom: 11%;
  text-align: justify;
}
.auth-left{
	min-height:500px;
	background: #EFEBD5;
	margin-right:100px;
}

.same-line{
  display:inline-block;
  border-radius: 5px;
  width: 50px;

}

.the-pointer{
  cursor: pointer;
}

.profile-follow-button{
  margin-left: 5px; 
  padding: 2px 3px;
  border: 2px; 
  border-radius: 4px; 
  color: grey; 
  display:inline-block
}

.border-gold{
	border: 2px solid #FCC810;
	border-radius: 3px;
}

.profile-follow-button a{
  text-decoration: none;
}

.read-time{
  font-size:13px; 
  color:gray; 
}

.article-tags{
  background:#efefef; 
  padding: 5px; 
  border-radius: 3px;
  margin-right: 5px; 
  color: grey; 
  display:inline-block;
}

.btn-one{
  background: #792525;
  border: none;
  color: #fcc810;
}
.btn-one:hover{
 opacity: 0.7;
 background: #792525;
 border: none;
 color: #fcc810;
}

.btn-one .btn .btn-primary {
  background: #792525;
}

.btn-disabled{
  opacity: 0.8;
}

.alert-dismissible .close {
	position: absolute;
	top: 0;
	right: 0;
	color: inherit;
}

button.close {
	background-color: transparent;
	border: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.alert {
  text-align: center;
  padding: 0.5%;

}

small, .small {
	font-size: 80%;
	font-weight: 400;
}

.profile-teaser-left {
  float: left;
  width: 20%;
  margin-right: 1%;
}

.profile-img img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 15px;

}

.profile-teaser-main {
  float: left;
  width: 79%;
}

.info {
  display: inline-block;
  margin-right: 10px;
  color: #777;
}

.info span {
  font-weight: bold;
}

.far-left-button {
  width: 100px;
  float: right;
}

.card.profile-card-user{
  border-radius: 12px;
  box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
  background-color: #FFFFFF;
  color: #252422;
  margin-bottom: 20px;
  position: relative;
  border: 0 none;
  -webkit-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
  -moz-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
  -o-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
  -ms-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
  transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
}
.card.profile-form{
  border-radius: 12px;
  box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
  background-color: #FFFFFF;
  color: #252422;
  margin-bottom: 20px;
  position: relative;
  border: 0 none;
  -webkit-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
  -moz-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
  -o-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
  -ms-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
  transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
}  


.card .card-body {
  padding: 15px 15px 10px 15px;
  text-align: center;
}

.card .card-body.table-full-width {
  padding-left: 0;
  padding-right: 0;
}

.card .card-header {
  padding: 15px 15px 0;
  border: 0;
}

.card .card-header:not([data-background-color]) {
  background-color: transparent;
}

.card .card-header .card-title {
  margin-top: 10px;
}

.card .map {
  border-radius: 3px;
}

.card .map.map-big {
  height: 400px;
}
.card-description{
  max-width: 100%;
}
.card[data-background-color="orange"] {
  background-color: #51cbce;
}

.card[data-background-color="orange"] .card-header {
  background-color: #51cbce;
}

.card[data-background-color="orange"] .card-footer .stats {
  color: #FFFFFF;
}

.card[data-background-color="red"] {
  background-color: #ef8157;
}

.card[data-background-color="yellow"] {
  background-color: #fbc658;
}

.card[data-background-color="blue"] {
  background-color: #51bcda;
}

.card[data-background-color="green"] {
  background-color: #6bd098;
}

.card .image {
  overflow: hidden;
  height: 200px;
  position: relative;
}

.card .avatar {
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 15px;
  position: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.card-photo:hover .edit {
  display: block;
}
.edit {
  padding-top: 20px;
  padding-right: 20px;
  position: absolute;
  right: 35%;
  top: 20px;
  display: none;
  background-color: white;
}
.card .numbers {
  font-size: 2em;
}

.card .big-title {
  font-size: 12px;
  text-align: center;
  font-weight: 500;
  padding-bottom: 15px;
}

.card label {
  font-size: 0.8571em;
  margin-bottom: 5px;
  color: #9A9A9A;
}

.card .card-footer {
  background-color: transparent;
  border: 0;
}

.card .card-footer .stats i {
  margin-right: 5px;
  position: relative;
  top: 0px;
  color: rgb(100, 67, 26);
}

.card .card-footer .btn {
  margin: 0;
}

.card.card-plain {
  background-color: transparent;
  box-shadow: none;
  border-radius: 0;
}

.card.card-plain .card-body {
  padding-left: 5px;
  padding-right: 5px;
}

.card.card-plain img {
  border-radius: 12px;
}

.card-plain {
  background: yellow;
  box-shadow: none;
}

.card-plain .card-header,
.card-plain .card-footer {
  margin-left: 0;
  margin-right: 0;
  background-color: transparent;
}

.card-plain:not(.card-subcategories).card-body {
  padding-left: 0;
  padding-right: 0;
}

.card-chart .card-header .card-title {
  margin-top: 10px;
  margin-bottom: 0;
}

.card-chart .card-header .card-category {
  margin-bottom: 5px;
}

.card-chart .table {
  margin-bottom: 0;
}

.card-chart .table td {
  border-top: none;
  border-bottom: 1px solid #e9ecef;
}

.card-chart .card-progress {
  margin-top: 30px;
}

.card-chart .chart-area {
  height: 190px;
  width: calc(100% + 30px);
  margin-left: -15px;
  margin-right: -15px;
}

.row {
  margin-right: -2px;
  margin-left: -2px;
}

.col-md-8 {
  text-align: left;
}

.input-form {
  text-align: left;
  color: #51bcda;
}

.article-card {
  background-color: #dce1e5;
  font-family: "Montserrat", helvetica, arial, sans-serif;
  font-size: 14px;
  color: #cfd6e1;
  line-height: 1.5;
  font-weight: 400;
  max-width: 100%;
  overflow-x: hidden;
}

* {
  -webkit-transition: .4s;
  transition: .4s;
}

a {
  text-decoration: none;
}

.article-card {
  padding-top:0px;
  background-size: contain;
  background-position: -40% 80%;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 100%;
  display: block;
  margin: 3vh auto;
  border-radius: 8px;
  -webkit-box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.25);
}

.color-overlay {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(42, 159, 255, 0.2)), color-stop(60%, #212120), to(#212120));
  background: linear-gradient(to right, rgba(42, 159, 255, 0.2) 0%, #212120 60%, #212120 100%);
  background-blend-mode: multiply;
}

.article-content {
  width: 50%;
  display: block;
  position: relative;
  float: right;
  padding-right: 1em;
  padding-top: 3%;
}
.article-content .article-title {
  color: #ffffff;
  margin-bottom: .25em;
  opacity: .75;
}
.article-content .article-info {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: .8em;
  color: #2a9fff;
  line-height: 1;
  margin: 0;
  font-weight: 700;
  opacity: .5;
}
.article-content .article-header {
  margin-bottom: 2em;
}
.article-content .article-desc {
  font-weight: 300;
  opacity: .84;
  margin-bottom: 2em;
}

.article-btn {
  padding: .8em 2em;
  background-color: rgba(255, 255, 255, 0.2);
  color: #792525;
}
.profile-card-user-items {
  height: 590px;
  overflow-y: auto;
  position: relative;
}

.read-more-button{
  background:#792525;
  color:#fff;
  border-radius: 5px;
  position:relative;
  height:50px;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
.read-more-button:hover{
  background:rgb(59, 10, 10);
  color:white;
}
.read-more-button:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:4px;
  width:0;
  background: #fcc810;
  transition:400ms ease all;
}
.read-more-button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
/* .read-more-button:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
} */

.btn-two{
  text-align: left;
  font-size: 16px;
  background: #792525;
  border: none;
  color: #fcc810;
}
.btn-two:hover{
border:1px solid #000000;
background: transparent;
color: #000000;
}
.btn-three{
  background: transparent;
  border: 1px solid#fcc810;
  color: #000000;
}
.btn-three:hover{
border:1px solid #000000;
background: transparent;
color: #000000;
}
.btn-four{
  background: transparent;
  border: 1px solid grey;
  color: #000000;
}
.btn-four:hover{
border:1px solid #000000;
background: transparent;
color: #000000;
}

.btn-five{
  background: gray;
  border: none;
}
.btn-five:hover{
 background: gray;
 border: none;
}

.comment-author{
  display:inline-block;
  border-radius: 5px;
}

.comment-time{
  color: grey; 
  font-size: 14px;
}

.commentor-image{
  display:inline-block;
  border-radius: 10px;
}

.reply-btn{
 margin-bottom: 1%;
}

.max-row{
  max-width: 80%;
}

.single-article img{
  width: 62%;
  max-width: 100%;
}

.single-article span, .single-article p{
  font-family: "Lato", sans-serif !important;
  background: none !important;
  font-size:  16px !important;
  color: #333 !important;
  
}
/* Home*/

.author {
  display: inline-block;
  margin-top:12px;
}
img {
  width: 100%;
  margin-bottom: 15px;
}
.meta,
.description {
  color: grey;
  font-size: 13px;
}
.welcome-card {
  background: #efebd5;
  margin: 50px 0;
}

.number {
  color: gray;
  font-size: 34px;
}

.fa-google{
  color: #4285F4;
  font-size: 20px;
  padding:5px;
}
.fa-twitter{
  color: #0084b4;
  font-size: 25px;
  padding:5px;
}
.fa-facebook{
  color: #4267b2;
  font-size: 25px;
  padding:5px;
}
.btn-auth{
  text-align: left;
  font-size: 16px;
  color: #333;
}
.btn-auth:hover{
border:1px solid #000000;
background: transparent;
color: #000000;
}
.home-view{
  margin-bottom:50px;
}
.home-view img{
  float: left;
  clear:left;
  width: 35%;
  margin-right:20px;
}

.home-view-last{
  margin-bottom:45px;
}

.home-view-last img{
  float: right;
  clear:left;
  width: 20%;
  margin:10px 20px 10px 10px;
}
.title-link{
color: #000000;
}
.title-link:hover{
  color: #000000;
  }
  .btn-publish{
    background:#fff;
    color:#333;
    border: 1px solid#fcc810;
    float: right;
  }
  .btn-publish:hover{
    background:#fff;
    color:#333;
    border: 1px solid#fcc810;
    opacity: 0.7;
  }
  .draft .draft, .status{
    display: inline-block;
    margin-bottom:20px;
  }
  .status{
    color:grey;
  }
  .draft{
    color: #333; 
    font-family: "Lato", sans-serif;
    font-size: 18px;
    margin-left:12px; 
    background: #fff;
    padding:20px;
  }
  .draft p{
    color: grey;
  }
  .draft-editor{
    border: 1px solid #dbd9d9;
    padding:10px;
  }
.user-profile{
  width:10%;
  margin-right: 70px;
  padding: 0;
  float:right;
}
.user-profile img{
  width:40%;
  margin: 10px 30px 1px 0;
  padding: 0;
  float:right;
}
.user-profile-container{
  width:13%;
}
.nav-dropdown{
  color:grey;
}
.nav-dropdown:hover{
  color:#333;
  text-decoration: none;
}
.logout:hover {
  cursor: pointer;
}

  /* Styles for React Tags*/
div.ReactTags__tags {
    position: relative;
}
/* Styles for the input */
div.ReactTags__tagInput {
    border-radius: 2px;
    display: inline-block;
}
div.ReactTags__tagInput input.ReactTags__tagInputField,
div.ReactTags__tagInput input.ReactTags__tagInputField:focus {
    height: 31px;
    margin: 0;
    width: 100%;
    border: 1px solid #eee;
    padding: 20px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline:none !important;
}
/* Styles for selected tags */
div.ReactTags__selected span.ReactTags__tag {
    border: 1px solid #ddd;
    background: #eee;
    font-size: 12px;
    display: inline-block;
    padding: 5px;
    margin: 0 5px;
    cursor: move;
    border-radius: 2px;
}
div.ReactTags__selected a.ReactTags__remove {
    color: #aaa;
    margin-left: 5px;
    cursor: pointer;
}

.fa-ellipsis-h{
  float: right;
  font-size: 40px;
}
.report-article{
  cursor: pointer;
}

.line-spacing{
  display: block;
  margin-bottom: 0.5em;
}

/* Styles for suggestions */
div.ReactTags__suggestions {
    position: absolute;
}
div.ReactTags__suggestions ul {
    list-style-type: none;
    box-shadow: .05em .01em .5em rgba(0,0,0,.2);
    background: white;
    width: 200px;
}

div.ReactTags__suggestions li {
    border-bottom: 1px solid #ddd;
    padding: 5px 10px;
    margin: 0;
}
div.ReactTags__suggestions li mark {
    text-decoration: underline;
    background: none;
    font-weight: 600;
}
div.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
    background: #b7cfe0;
    cursor: pointer;
}

