body {
  font-family: "Lato", sans-serif;
}
#root {
  background: #efefef;
}
.main-container {
  min-height: 650px;
}
.navbar-custom {
  background: #792525;
}
.navbar-custom .brand {
  color: #fcc810;
  font-family: "Oleo Script Swash Caps", cursive;
  font-size: 34px;
}
.navbar-custom .brand:hover {
  text-decoration: none;
  opacity: 0.8;
}
.navbar-custom .nav-link {
  color: #fcc810 !important;
  font-family: "Roboto Condensed", sans-serif;
}
.navbar-custom .nav-link:hover {
  opacity: 0.8;
}
.footer {
  color: grey;
  text-align: right;
  padding: 10px;
}

.profile-teaser-left {
  float: left; width: 20%; margin-right: 1%;
}
.profile-img img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 15px;
    
}

.profile-teaser-main {
  float: left; width: 79%;
}

.info { display: inline-block; margin-right: 10px; color: #777; }
.info span { font-weight: bold; }

.far-left-button{
  width: 100px;
  float: right;
}
.card {
  border-radius: 12px;
  box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
  background-color: #FFFFFF;
  color: #252422;
  margin-bottom: 20px;
  position: relative;
  border: 0 none;
  -webkit-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
  -moz-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
  -o-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
  -ms-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
  transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease; }
  .card .card-body {
    padding: 15px 15px 10px 15px;
      text-align: center;
  }
  .card .card-body.table-full-width {
      padding-left: 0;
      padding-right: 0; }
  .card .card-header {
    padding: 15px 15px 0;
    border: 0; }
    .card .card-header:not([data-background-color]) {
      background-color: transparent; }
    .card .card-header .card-title {
      margin-top: 10px; }
  .card .map {
    border-radius: 3px; }
    .card .map.map-big {
      height: 400px; }
  .card[data-background-color="orange"] {
    background-color: #51cbce; }
    .card[data-background-color="orange"] .card-header {
      background-color: #51cbce; }
    .card[data-background-color="orange"] .card-footer .stats {
      color: #FFFFFF; }
  .card[data-background-color="red"] {
    background-color: #ef8157; }
  .card[data-background-color="yellow"] {
    background-color: #fbc658; }
  .card[data-background-color="blue"] {
    background-color: #51bcda; }
  .card[data-background-color="green"] {
    background-color: #6bd098; }
  .card .image {
    overflow: hidden;
    height: 200px;
    position: relative; }
  .card .avatar {
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 15px;
    position:center;
  margin-left:auto;
margin-right:auto;
display: block; }
  .card .numbers {
    font-size: 2em; }
  .card .big-title {
    font-size: 12px;
    text-align: center;
    font-weight: 500;
    padding-bottom: 15px; }
  .card label {
    font-size: 0.8571em;
    margin-bottom: 5px;
    color: #9A9A9A; }
  .card .card-footer {
    background-color: transparent;
    border: 0; }
    .card .card-footer .stats i {
      margin-right: 5px;
      position: relative;
      top: 0px;
      color: #66615B; }
    .card .card-footer .btn {
      margin: 0; }
  .card.card-plain {
    background-color: transparent;
    box-shadow: none;
    border-radius: 0; }
    .card.card-plain .card-body {
      padding-left: 5px;
      padding-right: 5px; }
    .card.card-plain img {
      border-radius: 12px; }

.card-plain {
  background: transparent;
  box-shadow: none; }
  .card-plain .card-header,
  .card-plain .card-footer {
    margin-left: 0;
    margin-right: 0;
    background-color: transparent; }
  .card-plain:not(.card-subcategories).card-body {
    padding-left: 0;
    padding-right: 0; }

.card-chart .card-header .card-title {
  margin-top: 10px;
  margin-bottom: 0; }

.card-chart .card-header .card-category {
  margin-bottom: 5px; }

.card-chart .table {
  margin-bottom: 0; }
  .card-chart .table td {
    border-top: none;
    border-bottom: 1px solid #e9ecef; }

.card-chart .card-progress {
  margin-top: 30px; }

.card-chart .chart-area {
  height: 190px;
  width: calc(100% + 30px);
  margin-left: -15px;
  margin-right: -15px; }

.row {
  margin-right: -2px;
  margin-left: -2px;
}
.col-md-8 {
  text-align: left;
}
.input-form {
  text-align:left;
  color: #51bcda;
}
.photo {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 1px;
  margin-left: 10px;
  position:center;
display: block;
}
.drop-down{
  margin-top: 0px;
}
li .drop-down .dropdown .nav-item{
  margin-top: -30px;
}.dropdown-toggle .nav-link{
  margin-top:-60px;
}
.stats-container {
  text-align: center;
}
