/* Global style*/
body {
  font-family: "Lato", sans-serif;
  background: #fdf6f6;
}

#root {
  background: #fdf6f6;
}
h3 {
  font-size: 18px;
  font-weight: bold;
}

.main-container {
  min-height: 650px;
}

.wrapper{
  background: #fff;
  padding:10px 30px;
}
/* Header*/
.navbar-custom {
  background: #792525;
  margin-bottom: 25px;
}

.navbar-custom .brand {
  color: #fcc810;
  font-family: "Oleo Script Swash Caps", cursive;
  font-size: 34px;
}

.navbar-custom .brand:hover {
  text-decoration: none;
  opacity: 0.8;
}

.navbar-custom .nav-link {
  color: #fcc810 !important;
  font-family: "Roboto Condensed", sans-serif;
 
}

.navbar-custom .nav-link:hover {
  opacity: 0.8;
}

.navbar-custom .get-started {
  color: #fcc810 !important;
  font-family: "Roboto Condensed", sans-serif;
  border: 1px solid #fcc810;
  border-radius: 3px;
  margin-left: 15px;
}
.navbar-custom .get-started:hover {
  opacity: 0.8;
}
.search-icon{
  color: #fcc810;
  padding: 8px 8px 0 2px;
}
/* Footer*/
.footer {
  color: gray;
  text-align: right;
  background: #fdf6f6;

}

.get-started {
  color: #fcc810 !important;
  font-family: "Roboto Condensed", sans-serif;
  border: 1px solid #fcc810;
  border-radius: 3px;
  margin-left: 15px;
}

.auth-btn {
  cursor: pointer;
}

.authentication-modal {
  background: #f0eded !important;
  opacity: 0.9;
}

.authentication-modal-body {
  border: none !important;
}

.authentication-modal-header {
  border: none !important;
  text-align: center;
  justify-content: center;
}

.authentication-modal-footer {
  border: none !important;
}

.swap-modal-span {
  cursor: pointer;
  text-decoration: chocolate;
  color: chocolate;
}

.swap-modal-span:hover {
  opacity: 0.8;
  text-decoration: underline;
}

.swap-modal-text {
  font-size: 14px;
  padding-top: 1%;;
}

.modal-content {
  opacity: 1 !important;
  background-color: white;
  max-height: fit-content;
  min-height: 80%;
}

.modal-dialog {
  height: 100%;
}

.error {
  border: 1px solid red;
}

.error-text {
  color: red;
}

.center {
  margin: auto;
  padding: 0 10% 3% 10%;
}

.modal-title {
  text-align: center;
}

.header-txt {
  margin-left: 37%;
}

#alert-modal .modal-content {
  max-height: fit-content;
  min-height: 30%;
}

.alert-modal-header {
  padding: 5px;
  padding-right: 10px;
}

.btn-one {
  background: #792525;
  border: none;
  color: #fcc810;
}

.btn-one:hover {
  opacity: 0.7;
  background: #792525;
  border: none;
  color: #fcc810;
}

.btn-one:disabled {
  background: #792525;
  color: #fcc810;
}

.btn-one .btn .btn-primary {
  background: #792525;
}
/* Home*/

.author {
  display: inline-block;
  margin-top:12px;
}
img {
  width: 100%;
  margin-bottom: 15px;
}
.meta,
.description {
  color: grey;
  font-size: 13px;
}
.welcome-card {
  background: #efebd5;
  margin: 50px 0;
}

.number {
  color: gray;
  font-size: 34px;
}

.fa-google{
  color: #4285F4;
  font-size: 20px;
  padding:5px;
}
.fa-twitter{
  color: #0084b4;
  font-size: 25px;
  padding:5px;
}
.fa-facebook{
  color: #4267b2;
  font-size: 25px;
  padding:5px;
}
.btn-auth{
  text-align: left;
  font-size: 16px;
  color: #333;
}
.btn-auth:hover{
border:1px solid #000000;
background: transparent;
color: #000000;
}
.home-view{
  margin-bottom:50px;
}
.home-view img{
  float: left;
  clear:left;
  width: 35%;
  margin-right:20px;
}

.home-view-last{
  margin-bottom:45px;
}

.home-view-last img{
  float: right;
  clear:left;
  width: 20%;
  margin:10px 20px 10px 10px;
}
.title-link{
color: #000000;
}
.title-link:hover{
  color: #000000;
  }

.swap-modal-span {
  cursor: pointer;
  text-decoration: chocolate;
  color: chocolate;
}

.swap-modal-span:hover {
  opacity: 0.8;
  text-decoration: underline;
}

.swap-modal-text {
  font-size: 14px;
}

.modal-dialog {
  height: 100%;
}
.red-form-border {
  border: 1px solid red;
}

.password-input {
  margin-top: 0;
}

.btn-one{
  background: #792525;
  border: none;
  color: #fcc810;
}
.btn-one:hover{
 opacity: 0.7;
 background: #792525;
 border: none;
 color: #fcc810;
}

.btn-one .btn .btn-primary {
  background: #792525;
}

.btn-disabled{
  opacity: 0.8;
}

.alert-dismissible .close {
	position: absolute;
	top: 0;
	right: 0;
	color: inherit;
}

button.close {
	background-color: transparent;
	border: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.alert {
  text-align: center;
  padding: 0.5%;

}

small, .small {
	font-size: 80%;
	font-weight: 400;
}
